<div class="page">
<h1 class="page-title">{{title}}</h1>

<div class="api">
    <label>API base URL</label> <br>
    <input class="form-control" type="text" value="https://dev-games-backend.advbet.com/v1/ab-roulette/1">
</div>

<div class="stats">
    <h4>Stats (last 200)</h4>
    <table id="stats" class="table">
        <tr>
            <td></td>
                <th colspan="5" class="cold">Cold</th>
                <th colspan="27" class="neutral">Neutral</th>
                <th colspan="5" class="hot">Hot</th>
        </tr>
        <tr>
            <th>Slot</th>
            <td *ngFor="let item of result" [ngClass]="item.color">
                {{ item.result }}
            </td>
            
        </tr>
        <tr>
            <th>Hits</th>
            <td *ngFor="let item of result; let i = index;"
            [ngClass]="{'cold': i <= 4, 'neutral': i > 4 && i <= 31, 'hot': i > 31}">
                {{ item.count }}
            </td>
        </tr>
    </table>
</div>



<h4>Gameboard</h4>
<div class="gameboard">
    <div class="square" *ngFor="let item of gameboard" [ngClass]="item.colors"> {{ item.positionItem }}</div>
</div>

<h4>Events</h4>
<div class="events">
    
    <div *ngFor="let item of notes">
       Game {{item.id}} ended, result is {{item.result}} 
    </div> 
    Game {{nextgame.id}} will start in {{nextgame.fakeStartDelta}} sec 
</div>
</div>


